<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>me.herko.gif.gallery.docktile</string>
    <key>CFBundleName</key>
    <string>GIF Lobster Dock</string>
    <key>CFBundleExecutable</key>
    <string>DockTilePlugin</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleVersion</key>
    <string>2.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.0</string>
    <key>NSPrincipalClass</key>
    <string>DockTilePlugin</string>
</dict>
</plist>
